<p id="notice"><%= notice %></p>

<p>
  <strong>Game api:</strong>
  <%= @ownedgame.game_api_id %>
</p>

<p>
  <strong>Game name:</strong>
  <%= @ownedgame.game_name %>
</p>

<p>
  <strong>Game image:</strong>
  <%= @ownedgame.game_image %>
</p>

<p>
  <strong>Game owned:</strong>
  <%= @ownedgame.game_owned %>
</p>

<%= link_to 'Edit', edit_ownedgame_path(@ownedgame) %> |
<%= link_to 'Back', ownedgames_path %>
