<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :api_game_id %>
    <%= form.text_area :api_game_id, id: :game_api_game_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :game_name %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_area :image, id: :game_image %>
  </div>

  <div class="field">
    <%= form.label :platform %>
    <%= form.text_area :platform, id: :game_platform %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
