<p id="notice"><%= notice %></p>

<p>
  <strong>Api game:</strong>
  <%= @game.api_game_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @game.image %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @game.platform %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
