<%= form_with(model: wantedgame, local: true) do |form| %>
  <% if wantedgame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wantedgame.errors.count, "error") %> prohibited this wantedgame from being saved:</h2>

      <ul>
      <% wantedgame.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game_api_id %>
    <%= form.hidden_field :game_api_id, :value => params["id"] %>
  </div>

  <div class="field">
    <%= form.label :game_name %>
    <%= form.hidden_field :game_name, :value => params["name"] %>
  </div>

  <div class="field">
    <%= form.label :game_image %>
    <%= form.hidden_field :game_image, :value => params["image"] %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
