<p id="notice"><%= notice %></p>

<h1>Wantedgames</h1>

<table>
  <thead>
    <tr>
      <th>Game api</th>
      <th>Game name</th>
      <th>Game image</th>
      <th>Game owned</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wantedgames.each do |wantedgame| %>
      <tr>
        <td><%= wantedgame.game_api_id %></td>
        <td><%= wantedgame.game_name %></td>
        <td><%= wantedgame.game_image %></td>
        <td><%= wantedgame.game_owned %></td>
        <td><%= wantedgame.user %></td>
        <td><%= link_to 'Show', wantedgame %></td>
        <td><%= link_to 'Edit', edit_wantedgame_path(wantedgame) %></td>
        <td><%= link_to 'Destroy', wantedgame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wantedgame', new_wantedgame_path %>
